.main-img {
  height: 460px;
  margin: 0 auto 10px auto;
  background: url('../images/analysis-2030261_1920.jpg');
  background-position: center 60%;
  background-repeat: no-repeat;
  filter: blur(0px);
  transition: all 0.1s linear;
  @media only screen and (max-width: 1000px) {
    background-position: 25% 60%;
  }
  @media only screen and (max-width: 568px) {
    background-size: 280%;
    height: 300px;
  }
}

.second-img {
  margin: 60px auto 0 auto;
  height: 460px;
  background: url('../images/scientific-2040795.jpg');
  background-position: center 36%;
  background-repeat: no-repeat;
  transition: all 0.1s linear;
  @media only screen and (max-width: 1000px) {
    background-position: 35% 36%;
  }
  @media only screen and (max-width: 568px) {
    background-size: 280%;
  }
}
