.navigation {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    display: block;
    position: relative;
    background-color: #ECECEC;
  }
  &__wrapper {
    width: 100%;
    background-color: #ECECEC;
    height: 80px;
    position: fixed;
    z-index: 99;
  }
  >figure {
    height: 80px;
  }
  >figure>a>img {
    height: 60px;
    margin: 10px 0;
    padding-left: 10px;
    @media only screen and (max-width: 768px) {
      height: 40px;
      margin: 20px 0;
    }
  }
  &__menu-list {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  &__menu-list>ul {
    margin-right: 40px;
    @media only screen and (max-width: 1000px) {
      margin-right: 20px;
    }
    @media only screen and (max-width: 768px) {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &__menu-list>ul>li {
    display: inline-block;
    padding-right: 65px;
    line-height: 80px;
    box-sizing: border-box;
    @media only screen and (max-width: 1000px) {
      padding-right: 40px;
    }
    @media only screen and (max-width: 768px) {
      padding-right: 0;
      display: block;
      text-align: center;
    }
  }
  &__menu-list>ul>li>a {
    text-decoration: none;
    color: #1F3A93;
    font-size: 15px;
    text-transform: uppercase;
    &:hover {
      color: #4B77BE;
    }
    &:active {
      color: #1F3A93;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  &__pl-en {
    position: relative;
    >a>img {
      height: 15px;
      position: absolute;
      top: -13px;
      @media only screen and (max-width: 768px) {
        position: relative;
        top: 0;
        height: 25px;
      }
    }
    #en-pl {
      width: 30px;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
    #pl-en {
      width: 30px;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  &__mobile-menu {
    display: none;
    &:before,
    &:after {
      border-radius: 3px;
      transition: transform .3s ease;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 0.25em;
      top: -0.5em;
      background: grey;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 0.25em;
      top: 0.5em;
      background: grey;
    }
    &.close {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 35px;
      right: 20px;
      display: block;
      width: 0;
      height: 0;
      background: transparent;
      transform: rotate(-180deg);
    }
    &.close:before,
    &.close:after {
      transition: transform .3s ease;
    }
    &.close:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 0.25em;
      top: 0;
      background: grey;
      transform: rotate(-45deg);
    }
    &.close:after {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 0.25em;
      top: 0;
      background: grey;
      transform: rotate(45deg);
    }
    @media only screen and (max-width: 768px) {
      // margin: 35px 20px;
      display: block;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 35px;
      right: 20px;
      display: block;
      width: 1.5em;
      height: 0.25em;
      background: gray;
      border-radius: 3px;
      cursor: pointer;
      transition: transform .2s ease;
    }
  }
}

.visable {
  max-height: 550px;
}
