#about-us {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  @media only screen and (max-width: 768px) {
    padding-top: 70px;
  }
  >div>header {
    font-size: 24px;
    font-weight: 600;
    color: #1F3A93;
    margin-bottom: 40px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  >div>p {
    color: #1F3A93;
    text-align: justify;
    @media only screen and (max-width: 768px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 568px) {
      width: 100%;
    }
  }
}

#what-we-do {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  >div>header {
    font-size: 24px;
    font-weight: 600;
    color: #1F3A93;
    margin-bottom: 40px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  >div>p {
    color: #1F3A93;
    text-align: justify;
    @media only screen and (max-width: 768px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 568px) {
      width: 100%;
    }
  }
}

#offer {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 85px;
    &:nth-child(2) {
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    &:nth-child(3) {
      @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
    &:nth-child(4) {
      margin-bottom: 0;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
    >p {
      color: #1F3A93;
      width: 45%;
      text-align: justify;
      @media only screen and (max-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
      }
      @media only screen and (max-width: 568px) {
        width: 100%;
      }
    }
    .consulting-img {
      width: 45%;
      max-width: 500px;
      @media only screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
      }
      >img {
        width: 100%;
        max-width: 700px;
        @media only screen and (max-width: 768px) {
          max-width: 500px;
        }
      }
    }
  }
  >div>header {
    font-size: 24px;
    font-weight: 600;
    color: #1F3A93;
    margin-bottom: 40px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

#contact {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  >div>header {
    font-size: 24px;
    font-weight: 600;
    color: #1F3A93;
    margin-bottom: 40px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  >div>p {
    color: #1F3A93;
    text-align: justify;
    @media only screen and (max-width: 768px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 568px) {
      width: 100%;
    }
  }
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__wrapper {
    width: 100%;
    background-color: #ECECEC;
    height: 80px;
  }
  >p {
    color: #1F3A93;
    font-size: 12px;
  }
}
